@layout('LogedTemplate.edge')
@section('navbar-admin')
    <nav class="navbar navbar-expand-lg" class="menu">
        <h1 class="navbar-brand" href="#">Foody</h1>
    </nav>
@endsection
@section('list')
    <ul>
        @each(category in categories)
        <li> {{ category.category_name }} </li>
        @endeach
    </ul>
@endsection
