@layout('LogedTemplate')


@section('sidebar')
@endsection

@section('content')
<form action="/category" method="post" class="register-box">
    <h3>Insira as seguintes informações:</h3>
    <label class="col-form-label-lg">Nome categoria: </label><input class="form-control" type="text" name="category_name"/><br>
    <input type="submit" class="btn btn-outline-danger btn-sm" value="Salvar"/>
</form>
@endsection