@layout('LogedTemplate.edge')
@section('header-navbar')
    <nav class="navbar navbar-expand-lg" class="menu">
        <h1 class="navbar-brand"><a href="/admin">Mudi Market</a></h1>
        <a href="/orderList"><img src="lupa.png" height="20" width="20"/></a>
        <a href="/orderIndex" class="pedido">Pedidos</a>
        <a href="/logout" class="logoutAdmin" role="button" aria-pressed="true">Logout</a>
    </nav>
@endsection

@section('sidebar')
@endsection

@section('content')

@endsection