@layout('logedtemplateclient')

@section('content')
<h2>Escolha uma categoria de produtos:</h2>
  @each(category in categories.toJSON())
    <ul class="list-group">
    <li    class="list-group-item"><a href="/category/{{category.id}}/product">{{category.category_name}}</a></li>
    </ul>
  @endeach
@endsection