<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {{ style('style2'); }}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg bg-red menu">
        <h1 class="navbar-brand"><a href="/client"><img width="100px" src="/logo-mudi.png"/></a></h1>
        <a href="/cart"><img src="/cart.png" height="20" width="20"></img></a>
        <a href="/orderIndex" class="pedido">Pedidos</a>
        <a href="/logout" class="logoutButton" role="button" aria-pressed="true">Logout</a>
    </nav>
    @section('navbar-admin')
    @endsection
    @section('navbar-client')
    @endsection
    @section('admin-home')
    @endsection
    @section('list')
    @endsection
    @section('table')
    @endsection
    @section('form-edit')
    @endsection
    @section('form-create')
    @endsection

    @section('List-orders')
    @endsection
    

    @section('confirm-order')
    @endsection

    @section('content')
    @endsection

   <script>

    $('[data-product]').each( (index,item)=>{
        const button = $('#'+$(item).attr('id'));
        button.find('.add').click(function() {
            buttonCart(button, 'add', parseInt(button.find('.total').val()))
        })
        button.find('.remove').click(function() {
            buttonCart(button, 'remove', parseInt(button.find('.total').val()))
        })
    }) 
    function buttonCart(ref, type, quantity){
        if(type ==='add'){
            if(quantity < 20){
                quantity+=1
            }
        }
        if(type ==='remove'){
            if(quantity > 1){
                quantity-=1
            }
        }
        ref.find('.total').val(quantity)
    }
    
  
    </script>
</body>
</html>