<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {{ style('style2'); }}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg bg-red menu">
            <h1 class="navbar-brand"><a href="/admin"><img width="100px" src="/logo-mudi.png"/></a></h1>
            <a href="/orderList"><img src="/lupa.png" height="20" width="20"/></a>
            <a href="/orderIndex" class="pedido" style="text-decoration:none; color:white;  ">Pedidos</a>
            <a href="/logout" class="logoutButton" role="button" aria-pressed="true" style="text-decoration:none; color:white"; >Logout</a>
    </nav>
      
        <div class="row">
            <div class="col-12">
                @section('header-navbar')
                @endsection
            </div>
        </div>
        <div class="row" style="min-height: 100vh">
            <div class="col-2 mx-auto" style="border-right: 1px solid black; border-top: 1px solid black; background-color:"  style="min-height: 100%">
                    @section('sidebar-admin')
                        <p class="text-center" style="margin-top:7%;">Bem vindo, {{auth.user.username}}</p>
                        <ul class="nav flex-column">
                            <li><a href="/category" class=" btn-light btn active mt-2 w-100" max-width="200px"  role="button" aria-pressed="true">Categoria</a></li>
                            <li><a href="/users" class="btn btn-light btn active mt-2 w-100" max-width="200px"  role="button" aria-pressed="true">Usuarios</a></li>
                            <li><a href="/product" class="btn btn-light btn active mt-2 w-100" max-width="200px" role="button" aria-pressed="true">Produtos</a></li>
                            <li><a href="/orderIndex" class="btn btn-light btn active mt-2 w-100" max-width="200px" role="button" aria-pressed="true">Pedidos</a></li>
                        </ul>
                    @endsection
            </div>
                @section('sidebar-client')
                
                @endsection
            <div class="col-10">
                @section('content')
                @endsection
               
            </div>
        </div>
    <script>

    $('[data-product]').each( (index,item)=>{
        const button = $('#'+$(item).attr('id'));
        button.find('.add').click(function() {
            buttonCart(button, 'add', parseInt(button.find('.total').val()))
        })
        button.find('.remove').click(function() {
            buttonCart(button, 'remove', parseInt(button.find('.total').val()))
        })
    }) 
    function buttonCart(ref, type, quantity){
        if(type ==='add'){
            if(quantity < 20){
                quantity+=1
            }
        }
        if(type ==='remove'){
            if(quantity > 1){
                quantity-=1
            }
        }
        ref.find('.total').val(quantity)
    }
    
  
    </script>
    
</body>
</html>