@Layout('template')
@section('navbar')
    <div class="logo"></div>
    <form action ="/register" method = "POST">
      <fieldset>
        <legend>Personal information:</legend>
          First name:<br>
            <input type="text" name="firstname" value=""><br>
          Last name:<br>
            <input type="text" name="lastname" value=""><br><br>
            <input type="submit" value="Submit">
      </fieldset>
    </form> 
    <div class="subtitle">
    </div>
@endsection
