html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    background-color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 536px;
    margin: auto;
    position: relative;
}

section:before {
    content: "";
    position: absolute;
    background-size: 100%;
    width: 100%;
    height: 402px;
    z-index: -1;
}

.title {
    background: url("/title.svg") no-repeat;
    width: 219px;
    height: 36px;
    background-size: 100%;
    opacity: 0;
    animation: slideUp 1s cubic-bezier(0.19, 1, 0.3, 1) 0.2s forwards;
}

.register-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    align-items: center;
    max-width: 536px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}

.menu {
    background: linear-gradient(45deg,#9d0039,#ec145a);
}


a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

.register-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    align-items: center;
    max-width: 536px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}

.logoutButton {
    margin-left: 5%;
<<<<<<< HEAD
    text-decoration: none;
    color: #ffffff;
}

.pedido {
    margin-left: 75%;
    text-decoration: none;
    color: #ffffff;
=======
}

.logoutAdmin {
    margin-left: 4%;
}

.pedido {
    margin-left: 70%;
>>>>>>> 9602339199fef2ecf359d6b5605da9e788bb2e63
}

.buttonCart {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 20%;
}

.img-product {
    width: 170px;
    height: 170px;
    margin-right: -80px;
    margin-left: 30px;
}

.img-product-sm {
    width: 80px;
    height: 80px;
    margin-right: 50px;
    margin-left: 30px;
}

.buttonData {
    margin-left: 40%
}

.bt-menu {
    background-color: #ed145b;
    color: #ffffff;
}



